<h2>Experience & Education</h2>
<div class="flex flex-row justify-content-center timeline">
  <ul>
    <li style="--accent-color:#006da8">
      <div class="date">2022 - today</div>
      <div class="title">Full Stack Software Engineer</div>
      <div class="descr">Capgemini / Project CCCS</div>
    </li>
    <li style="--accent-color:#ca1c0f">
      <div class="date">2019 - 2023</div>
      <div class="title">Blog writer, product tester, podcaster</div>
      <div class="descr">Hardwakening.fr</div>
    </li>
    <li style="--accent-color:#006da8">
      <div class="date">2020 - 2022</div>
      <div class="title">Back End Software Engineer</div>
      <div class="descr">Capgemini / Project Microcarb</div>
    </li>
    <li style="--accent-color:#b13b1e">
      <div class="date">2018 - 2021</div>
      <div class="title">Master's degree in Software Engineering</div>
      <div class="descr">University of Toulouse - Paul Sabatier</div>
    </li>
    <li style="--accent-color:#ff8d2e">
      <div class="date">2018</div>
      <div class="title">Android developer</div>
      <div class="descr">University of Toulouse - Paul Sabatier / CartOCampus</div>
    </li>
    <li style="--accent-color:#b13b1e">
      <div class="date">2016 - 2018</div>
      <div class="title">License in Software Engineering</div>
      <div class="descr">University of Toulouse - Paul Sabatier</div>
    </li>
  </ul>
</div>
